@font-face {
    font-family: Montserrat;
    src: url("../assets/font/Montserrat.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
    font-family: Montserrat;
    color: #ffffff;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.74) 100%), url("../assets/image/castelo-banner.jpg");
    background-position: center;
    background-size: 100%;
}

a {
    all: unset;
    cursor: pointer;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: transparent;
    z-index: 2;
  }
  
  .nav img {
    height: 78px;
    pointer-events: none;
    margin-top: 8px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .nav-links li a {
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .nav-buttons {
    display: flex;
    gap: 20px;
  }
  
  .sign-in-btn {
    text-transform: uppercase;
    padding: 12px 28px;
    background-color: #ffffff33;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }


  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ocupa 100% da altura da viewport */
}

.login .container {
    justify-content: center;
}

.login .container .card {
    background-color: rgba(108, 108, 101, 0.5);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding:  8px 25px;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 20px;
    color:#ffffff;
}

.formulario {
    width: 100%;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formulario .campo span {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.formulario input {
    border: 2px solid #cea03d;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.botao {
    background-color: #c2a31c;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px auto 0 auto;
    display: flex;
    cursor: pointer;
}

